:root {
  --vp-c-brand-1: #3dbdbc;
  --vp-c-brand-2: #2fa9a8;
  --vp-c-brand-3: #21918f;
  --vp-button-brand-text: #0f2a2a;
  --vp-button-brand-hover-text: #0f2a2a;
  --vp-button-brand-active-text: #0f2a2a;
}

.dark {
  --vp-c-brand-1: #3dbdbc;
  --vp-c-brand-2: #4dcccb;
  --vp-c-brand-3: #5ed9d8;
  --vp-button-brand-text: #0f2a2a;
  --vp-button-brand-hover-text: #0f2a2a;
  --vp-button-brand-active-text: #0f2a2a;
}
